<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Sprint:</strong>
  <%= @story.sprint_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @story.position %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Label:</strong>
  <%= @story.label %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @story.complete %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
