<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :story_name %>
  </div>



  <div class="field">
    <%= form.label :sprint_id %>
    <%= form.select(:sprint_id) do %>
      <% @sprints.each do |sprint| -%>
        <%= content_tag(:option, sprint.name, value: sprint.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :story_description %>
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :story_label %>
  </div>

  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete, id: :story_complete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
