<div class="row">
  <div class="col-sm-12 text-center mb-3">
    <i class="icon text-primary ion-ios-barcode-outline" data-toggle="tooltip" data-placement="right" title="Story View">
    </i>
    <h1>Sprints</h1>
  </div>
</div>
  <p id="notice"><%= notice %></p>
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <% @sprints.each do |sprint| %>
      <a class="nav-item nav-link <% if sprint.active%> active <% end %>" id="nav-home-tab" data-toggle="tab" href="#sprint-<%= sprint.id %>" role="tab" aria-controls="sprint-<%= sprint.id %>" aria-selected="false">
        <strong><%= sprint.name %></strong>
      </a>
    <% end %>
    <%= link_to '+ New Sprint', new_sprint_path, :class => "nav-item nav-link text-success" %>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <% @sprints.each do |sprint| %>
      <div class="tab-pane fade <% if sprint.active%> show active <% end %>" id="sprint-<%= sprint.id %>" role="tabpanel" aria-labelledby="sprint-<%= sprint.id %>">
        <div class="row my-3">
          <div class="col-md-4 border border-left-0 border-bottom-0 border-top-0">
            <h4>Backlog</h4>
          </div>
          <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
            <h4>To-Do</h4>
          </div>
          <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
            <h4>In Progress</h4>
          </div>
          <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
            <h4>In Review</h4>
          </div>
          <div class="col-md-2">
            <h4>Done</h4>
          </div>
        </div>
        <hr class="border">
        <div class="row my-3" style="min-height:60vh;">
            <% @stories.each do |story| %>
              <% if story.sprint_id == sprint.id %>
              <div class="col-md-4 border border-left-0 border-bottom-0 border-top-0">
                <div class="card mb-2 bg-light border-0">
                  <div class="card-body">
                    <blockquote class="blockquote">
                      <strong><%= story.name %></strong>
                      <p><%= story.description %></p>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
                <% @issues.each do |issue| %>
                  <% issue['labels'].each do |label| %>
                    <% if label['name'].casecmp?(story.label) %>
                      <% issue['labels'].each do |label| %>
                        <% if label['name'].casecmp?("todo") %>
                        <div class="card mb-2 bg-light border-0">
                          <div class="card-body">
                            <blockquote class="blockquote">
                              <strong><%= issue['title'] %></strong>
                            </blockquote>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
                <% @issues.each do |issue| %>
                  <% issue['labels'].each do |label| %>
                    <% if label['name'].casecmp?(story.label) %>
                      <% issue['labels'].each do |label| %>
                        <% if label['name'].casecmp?("inprogress") %>
                        <div class="card mb-2 bg-light border-0">
                          <div class="card-body">
                            <blockquote class="blockquote">
                              <strong><%= issue['title'] %></strong>
                            </blockquote>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-2 border border-left-0 border-bottom-0 border-top-0">
                <% @issues.each do |issue| %>
                  <% issue['labels'].each do |label| %>
                    <% if label['name'].casecmp?(story.label) %>
                      <% issue['labels'].each do |label| %>
                        <% if label['name'].casecmp?("inreview") %>
                        <div class="card mb-2 bg-light border-0">
                          <div class="card-body">
                            <blockquote class="blockquote">
                              <strong><%= issue['title'] %></strong>
                            </blockquote>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-2">
                <% @issues.each do |issue| %>
                  <% issue['labels'].each do |label| %>
                    <% if label['name'].casecmp?(story.label) %>
                      <% issue['labels'].each do |label| %>
                        <% if label['name'].casecmp?("done") %>
                        <div class="card mb-2 bg-light border-0">
                          <div class="card-body">
                            <blockquote class="blockquote">
                              <strong><%= issue['title'] %></strong>
                            </blockquote>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% end %>
            <% end %>
        </div>
      </div>
    <% end %>

  </div>
